---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Portfolio from "../components/Portfolio.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Recentblog from "../components/Recentblog.astro";
---

<Layout title="GLB">
	<Main>
		<Hero />
		<About />
		<Services />
		<Portfolio />
		<Banner />
		<Recentblog />
		<Footer />
	</Main>
</Layout>
