---

---


<div class="flex flex-col md:flex-row md:space-x-28 items-center">
    <img
        src="about.jpg"
        alt="hero image"
        class="object-cover bg-gray-600 h-[500px] w-[500px] flex-shrink-0"
        width="500"
        height="540"
        loading="lazy"
        decoding="async"
    /><div class="space-y-6 mt-10 md:mt-0">
        <h2 class="text-3xl font-bold">ABOUT US</h2><p class="leading-relaxed">
            At Hooman Digital, we're more than just a team of digital experts.
            We're a group of individuals who are passionate about using our
            skills and expertise to help others succeed. Our team is made up of
            designers, developers, writers, marketers, and community builders,
            each with a unique perspective and set of skills. We're committed to
            creating digital solutions that are authentic, innovative,
            immersive, and intuitive. Whether we're designing a new website,
            developing a brand identity.
        </p><div class="mt-8">
            <button
                class="bg-yellow-300 hover:bg-yellow-400 text-black py-3 px-6 rounded-full flex items-center"
            >
                View More
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 ml-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
