---

---


<div class="flex flex-col md:flex-row md:space-x-28 items-center">
    <img
        src="about.gif"
        alt="About Global Lawn Bowls"
        class="object-cover bg-gray-600 rounded-3xl w-[500px] flex-shrink-0"
        width="500"
        height="540"
        loading="lazy"
        decoding="async"
    /><div class="space-y-6 mt-10 md:mt-0">
        <h2 class="text-3xl font-bold">WHY LAWN BOWLS?</h2>
        <p class="leading-relaxed">
            Lawn Bowls has a rich 100+ year history at the Royal Calcutta Golf Club (RCGC), where it stands as the second-biggest sport among members. Despite its legacy, it has remained underrepresented.Why Lawn Bowls? Despite its legacy....While watching a tournament at RCGC , we realised that any other sport we watch its a given to have tech taking care of everything yet we accept lawn bowls as its as. We saw Lawn Bowls being left behind technologically as well as commercially. That's what got us to focus on this sport, take it mainstream and add our tech expertise to it.
        </p>
        <div class="mt-8">
            <button
                class="bg-yellow-300 hover:bg-yellow-400 text-black py-3 px-6 rounded-full flex items-center"
            >
                Learn More
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 ml-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
