<section class="mt-20">
    <div class="px-8">
        <div class="max-w-6xl mx-auto">
            <div
                class="bg-yellow-300 hover:bg-[#e7cd49] p-10 flex flex-col md:flex-row items-center md:space-x-10 rounded-3xl"
            >
                <div class="space-y-6">
                    <h4 class="md:text-5xl text-3xl font-bold">
                        CONNECT WITH US
                    </h4><p class="text-lg">
                        Ready to modernize your Lawn Bowls experience? Contact us today to learn more about our innovative solutions and how we can help digitize your club or tournament.
                    </p>
                    <div class="space-y-3">
                        <p class="text-lg">📞 Yashvardhan Goenka: +91 8655248979</p>
                        <!-- <p class="text-lg">📞 Rajesh Kankaria: +91 9830023212</p> -->
                        <p class="text-lg">📧 Email: globallawnbowls@gmail.com</p>
                    </div>
                    <button
                        class="px-6 py-3 border border-slate-900 rounded-full flex items-center space-x-4"
                        ><span class="font-medium">Contact Us</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </button>
                </div><img
                    src="banner.svg"
                    alt="Contact Global Lawn Bowls"
                    class="object-cover w-full mt-10 md:mt-0"
                    width="570"
                    height="280"
                    loading="lazy"
                    decoding="async"
                />
            </div>
        </div>
    </div>
</section>
