<footer class="space-y-20 mt-20">
    <section>
        <div class="px-8">
            <div class="max-w-6xl mx-auto">
                <div
                    class="flex flex-col md:flex-row justify-between md:space-x-12"
                >
                    <div class="w-full max-w-xs space-y-8">
                        <img
                            src="hooman logo.svg"
                            alt="rhythm nation logo"
                            width="178"
                            height="50"
                            loading="lazy"
                            decoding="async"
                        /><p class="md:text-lg">
                            At Hooman Digital, we're more than just a team of
                            digital experts. We're a group of individuals.
                        </p>
                    </div><div
                        class="md:w-[670px] w-full grid grid-cols-2 md:grid-cols-3 mt-14 md:mt-0 gap-y-8 md:gap-x-4"
                    >
                        <div class="w-full space-y-4">
                            <p class="font-semibold">Company</p><ul
                                class="text-sm space-y-3"
                            >
                                <li>Hire Team</li><li>Jobs</li><li>
                                    Brochure
                                </li><li>FAQs</li><li>Blog</li><li>
                                    Contact Us
                                </li>
                            </ul>
                        </div><div class="w-full space-y-4">
                            <p class="font-semibold">Services</p><ul
                                class="text-sm space-y-3"
                            >
                                <li>UI/UX design</li><li>Web Development</li><li
                                >
                                    Content writing
                                </li><li>Partnerships</li><li>
                                    Community management
                                </li>
                            </ul>
                        </div><div class="w-full space-y-4">
                            <p class="font-semibold">Start a Conversation</p><ul
                                class="text-sm space-y-3"
                            >
                                <li class="flex space-x-2 items-center">
                                    <img
                                        src="skype.svg"
                                        alt="rhythm nation logo"
                                        width="30"
                                        height="30"
                                        loading="lazy"
                                        decoding="async"
                                    /><p>Hooman Digital</p>
                                </li><li class="flex space-x-2 items-center">
                                    <img
                                        src="phone.svg"
                                        alt="rhythm nation logo"
                                        width="30"
                                        height="30"
                                        loading="lazy"
                                        decoding="async"
                                    /><span> +91 123-456-0123</span>
                                </li><li class="flex space-x-2 items-center">
                                    <img
                                        src="whatsapp.svg"
                                        alt="rhythm nation logo"
                                        width="30"
                                        height="30"
                                        loading="lazy"
                                        decoding="async"
                                    /><span> Hooman Digital</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><section class="bg-[#FFF8F2] py-5">
        <div class="px-8">
            <div class="max-w-6xl mx-auto">
                <div class="flex justify-between w-full items-center">
                    <p>Copyright © 2023. All Rights Reserved.</p><div
                        class="flex space-x-4"
                    >
                        <img
                            src="Twitter.svg"
                            alt="rhythm nation logo"
                            width="30"
                            height="30"
                            loading="lazy"
                            decoding="async"
                        /><img
                            src="FB.svg"
                            alt="rhythm nation logo"
                            width="30"
                            height="30"
                            loading="lazy"
                            decoding="async"
                        /><img
                            src="Insta.svg"
                            alt="rhythm nation logo"
                            width="30"
                            height="30"
                            loading="lazy"
                            decoding="async"
                        /><img
                            src="Youtube.svg"
                            alt="rhythm nation logo"
                            width="30"
                            height="30"
                            loading="lazy"
                            decoding="async"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
