<section class="mt-20">
    <div class="px-8">
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-8 gap-x-28 gap-y-10">
                <div class="md:col-span-3">
                    <h2 class="text-3xl md:text-5xl font-bold leading-snug">
                        OUR PROJECTS
                    </h2>
                </div><div
                    class="md:col-span-5 overflow-auto flex h-full items-center"
                >
                    <p class="md:text-lg">
                        Our dedicated applications bring modern technology to Lawn Bowls, enhancing the sport through innovation and data-driven solutions. Experience the future of Lawn Bowls with our comprehensive suite of digital tools.
                    </p>
                </div><div
                    class="md:col-span-full col-span-full h-full grid md:grid-cols-3 grid-cols-1 gap-x-8 gap-y-12 w-full"
                >
                    <div class="space-y-5 w-full">
                        <img
                            src="rbit.gif"
                            alt="Lawn Bowls Application"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">Royal International Bowling League</h4>
                            <p>A dedicated scoring app with pre-fed member data for quick and easy access</p>
                        </div>
                    </div><div class="space-y-5 w-full">
                        <img
                            src="national.gif"
                            alt="Tournament & League App"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">National Games 2025</h4>
                            <p>End-to-end tournament management with scoring and live streaming</p>
                        </div>
                    </div><div class="space-y-5 w-full">
                        <img
                            src="rblposter.gif"
                            alt="Universal Software"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">Royal Bowling League</h4>
                            <p>Free scoring software with premium features available</p>
                        </div>
                    </div>
                </div><div
                    class="col-span-full flex items-center w-full mt-4 justify-center"
                >
                <button
                class="bg-yellow-300 hover:bg-yellow-400 text-black py-3 px-6 rounded-full flex items-center"
            >
                Contact Us
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 ml-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
                </div>
            </div>
        </div>
    </div>
</section>
