<section id="projects" class="mt-20">
    <div class="px-8">
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-8 gap-x-28 gap-y-10">
                <div class="md:col-span-3">
                    <h2 class="text-3xl md:text-5xl font-bold leading-snug">
                        OUR CLIENTS
                    </h2>
                </div><div
                    class="md:col-span-5 overflow-auto flex h-full items-center"
                >
                    <p class="md:text-lg">
                        Our dedicated applications bring modern technology to
                        Lawn Bowls, enhancing the sport through innovation and
                        data-driven solutions. Experience the future of Lawn
                        Bowls with our comprehensive suite of digital tools.
                    </p>
                </div><div
                    class="md:col-span-full col-span-full h-full grid md:grid-cols-3 grid-cols-1 gap-x-8 gap-y-12 w-full"
                >
                    <div class="space-y-5 w-full">
                        <img
                            src="rbit.gif"
                            alt="Lawn Bowls Application"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">
                                Royal International Bowling Tournament
                            </h4>
                            <p>
                                A dedicated scoring app with preloaded member data
                                for quick and easy access.
                            </p>
                        </div>
                    </div><div class="space-y-5 w-full">
                        <img
                            src="national.gif"
                            alt="Tournament & League App"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">
                                National Games 2025
                            </h4>
                            <p>
                                End-to-end tournament management with scoring
                                and live streaming.
                            </p>
                        </div>
                    </div><div class="space-y-5 w-full">
                        <img
                            src="rblposter.gif"
                            alt="Universal Software"
                            class="object-cover bg-gray-600 w-full rounded-3xl"
                            width="1000"
                            height="1000"
                            loading="lazy"
                            decoding="async"
                        /><div class="space-y-1">
                            <h4 class="text-xl font-medium">
                                Royal Bowling League
                            </h4>
                            <p>
                                League Managment App customized for your
                                competition.
                            </p>
                        </div>
                    </div>
                </div><div
                    class="col-span-full flex items-center w-full mt-4 justify-center"
                >
                    
                </div>
            </div>
        </div>
    </div>
</section>
