<section class="bg-[#FFF8F2] py-20">
    <div class="px-8">
        <div class="max-w-6xl mx-auto">
            <h2 class="text-5xl font-bold leading-snug">RECENT BLOG</h2><div
                class="grid md:grid-cols-2 grid-cols-1 gap-x-10 gap-y-16 mt-10"
            >
                <a
                    href="/blog/blog1"
                    class="space-y-6 cursor-pointer"
                    target="_blank"
                    ><div class="overflow-hidden">
                        <img
                            src="blog1.webp"
                            alt="Navigating the Digital Age: Cybersecurity Essentials"
                            loading="lazy"
                            class="object-cover overflow-hidden bg-gray-600 h-[440px] w-full rounded-lg"
                            width="1200"
                            height="1200"
                            decoding="async"
                        />
                    </div><div class="space-y-6 px-4">
                        <div class="space-x-2 flex items-center text-sm">
                            <p class="font-bold">MARKETING</p><time
                                datetime="2022-07-28T00:00:00.000Z"
                                >Jul 28, 2022</time
                            >
                        </div><div class="space-y-2">
                            <h3 class="text-2xl font-bold">
                                Navigating the Digital Age: Cybersecurity
                                Essentials
                            </h3><p class="line-clamp-2">
                                The Enchanted Forest is a place of wonder and
                                magic, shrouded in mystery and teeming with
                                fantastical creatures. In this blog post
                            </p>
                        </div><button
                            class="px-4 py-1.5 border border-slate-900 rounded-full flex items-center space-x-4"
                            ><span class="font-medium">Read more</span><svg
                                width="10"
                                height="10"
                                viewBox="0 0 10 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    d="M1.07692 10L8.46154 2.61538V9.23077H10V0H0.769231V1.53846H7.38462L0 8.92308L1.07692 10Z"
                                    fill="black"></path></svg
                            ></button
                        >
                    </div></a
                ><a href="/blog/blog2" target="_blank" class="space-y-6 cursor-pointer"
                    ><div class="overflow-hidden">
                        <img
                            src="blog2.webp"
                            alt="Mastering the Culinary Arts: A Chef's Guide to Flavor"
                            loading="lazy"
                            class="object-cover overflow-hidden bg-gray-600 h-[440px] w-full rounded-lg"
                            width="1200"
                            height="1200"
                            decoding="async"
                        />
                    </div><div class="space-y-6 px-4">
                        <div class="space-x-2 flex items-center text-sm">
                            <p class="font-bold">MARKETING</p><time
                                datetime="2022-07-22T00:00:00.000Z"
                                >Jul 22, 2022</time
                            >
                        </div><div class="space-y-2">
                            <h3 class="text-2xl font-bold">
                                Mastering the Culinary Arts: A Chef's Guide to
                                Flavor
                            </h3><p class="line-clamp-2">
                                The Enchanted Forest is a place of wonder and
                                magic, shrouded in mystery and teeming with
                                fantastical creatures. In this blog post
                            </p>
                        </div><button
                            class="px-4 py-1.5 border border-slate-900 rounded-full flex items-center space-x-4"
                            ><span class="font-medium">Read more</span><svg
                                width="10"
                                height="10"
                                viewBox="0 0 10 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    d="M1.07692 10L8.46154 2.61538V9.23077H10V0H0.769231V1.53846H7.38462L0 8.92308L1.07692 10Z"
                                    fill="black"></path></svg
                            ></button
                        >
                    </div></a
                >
            </div>
        </div>
    </div>
</section>
