<section class="bg-black py-24 text-white mt-20">
    <div class="px-8">
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-8 gap-x-28 gap-y-10">
                <div class="col-span-3">
                    <h2 class="text-3xl md:text-5xl font-bold leading-snug">
                        WE PROVIDE SERVICES
                    </h2>
                </div><div
                    class="col-span-5 overflow-auto flex h-full items-center"
                >
                    <p class="md:text-lg">
                        At Hooman Digital, we offer a range of services to help
                        you achieve your digital goals. Our services include At
                        Hooman Digital, we offer a range of services to help you
                        achieve your digital goals. Our services include.
                    </p>
                </div><img
                    src="services.jpg"
                    alt="hero image"
                    class="object-cover bg-gray-600 h-[300px] md:h-[577px] w-full md:w-[500px] md:flex-shrink-0 col-span-5 md:col-span-3"
                    width="500"
                    height="577"
                    loading="lazy"
                    decoding="async"
                /><div
                    class="w-full h-full col-span-5 divide-white flex flex-col divide-y items-center justify-center"
                >
                    <div
                        class="flex justify-between items-center py-7 w-full border-t"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">01</p><h4>
                                UI/UX DESIGN
                            </h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div
                        class="flex justify-between items-center py-7 w-full"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">02</p><h4>
                                WEBSITE DEVELOPMENT
                            </h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div
                        class="flex justify-between items-center py-7 w-full"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">03</p><h4>
                                CONTENT WRITING
                            </h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div
                        class="flex justify-between items-center py-7 w-full"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">04</p><h4>BRANDING</h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div
                        class="flex justify-between items-center py-7 w-full"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">05</p><h4>
                                PARTNERSHIPS
                            </h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div
                        class="flex justify-between items-center py-7 w-full"
                    >
                        <div class="flex md:text-3xl text-2xl space-x-5">
                            <p class="text-[#FAE86E]">06</p><h4>
                                COMMUNITY MANAGE
                            </h4>
                        </div><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 ml-2"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#FAE86E"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div><div class="w-full"></div>
                </div>
            </div>
        </div>
    </div>
</section>
