---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = "Hooman",
	description = "A community of music producers and enthusiasts",
	image = "/images/band.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<ViewTransitions />
		<title>{title}</title>
	</>
	<body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
		<header class="px-8 sticky top-0 z-50 bg-white">
			<nav
				class="flex justify-between py-6 max-w-6xl mx-auto items-center"
			>
				<a href="/"
					><img
						src="hooman logo.svg"
						alt="rhythm nation logo"
						width="142.42"
						height="40"
						loading="lazy"
						decoding="async"
					/></a
				><div class="space-x-6">
					<a href="/" class="font-normal font-semibold">Home</a><a
						href="/blog"
						class="font-normal">Blog</a
					><a href="/docs/guides/first-guide" class="font-normal"
						>Docs</a
					><a href="/contact-us" class="font-normal">Contact</a>
				</div>
			</nav>
		</header>

		<slot />
	</body>
</html>
